section {
    padding-left: 1em;
    padding-right: 1em;
}

.mailToYes {
    border: 2px solid #2c2;
    margin-bottom: 2em;
}

.mailToNo {
    border: 2px dashed blue;
    color: black;
    background-color: #eee;
}

dd {
    margin-bottom: 1em;
}

blockquote > p:before {
    content: open-quote;
}

blockquote > p:after {
    content: close-quote;
}

svg {
    height: 14em;
    width: auto;
}



a[href^="mailto"] {
    outline: 1px dotted;
}

.mailToYes a[href^="mailto"] {
    color: #2c2;
}

.mailToNo a[href^="mailto"] {
    color: #e22;
}

a:link > circle {
    fill: blue;
}

.mailToYes a:link[href^="mailto"] > circle {
    fill: #2c2;
}

.mailToNo a:link[href^="mailto"] > circle {
    fill: #e22;
}


a:link > img {
    border: 1px solid;
}

.mailToYes a:link[href^="mailto"] > img {
    border-color: #2c2;
}

.mailToNo a:link[href^="mailto"] > img {
    border-color: #e22;
}

/* TODO use css variables */